/* Reset */

body {
  margin: 0;
}

h1 {
  margin: 0;
}


/* Variables */

:root {
  --content-padding: 20px;
}


/* CSS */

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Alegreya Sans', sans-serif;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
}

blockquote {
  border-left: 7px solid grey;
  padding: 5px;
  padding-left: 15px;
}

p.quote {
   text-align: right;
   padding-right: 80px;
}

.examples {
  display: flex;
  flex-flow: column;
}

.example {
  padding: 10px;
}

.ex-bad {
  border: 1px dashed red;
  margin-bottom: 2px;
  background: rgba(255, 0, 0, 0.1);
}

.ex-good {
  border: 1px dashed green;
  margin-top: 2px;
  background: rgba(0, 255, 0, 0.1);
}

#content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: var(--content-padding);
}

#tldr li {
  padding-bottom: 15px;
}
